<h3> Artist Profile </h3>
<h1> <%= @artist.title %></h1>
<p> Description: <%= @artist.description %> </p>
<p> Genre: TBC </p>
<br>
<p> <img src='<%= @artist.image %>' alt='Picture of <%= @artist.title %>' > </p>