Venues


<p> <%= @venues.each do |venue| %>
<%= link_to(venue.name, venue_path(venue)) %> 
<%= link_to('Edit', edit_venue_path(venue)) %> 
<%= link_to('Destroy', venue, method: :delete, data: { confirm: 'Are you sure?'}) %> </p>

<% end %>
