<h1>Festival Gigs</h1>


  <table>
    <!-- <tr>
      <th> Artist </th>
      <th> Date </th>
      <th> Venue </th>
    </tr> -->
    <tr> 
    <% @gigs.each do |gig| %>
      <p> <%= Artist.find(gig.artist_id).title %>,
          <%= Venue.find(gig.venue_id).name %>, 
          <%= nice_date(gig.start_date) %> </p>

   <% end %>
    </tr>
  </table> 
